

.b{
    background-color: #ffff !important;
}

.sombra{
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.card{
    margin-bottom: 5px;   
}
.e{
    margin-right: 5px !important;
}
.c{
    cursor: pointer;
}